{% extends 'login/base.html' %}
{% block title %}我的猫猫{% endblock %}
{% block content %}
    {% if request.session.is_login %}

        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>我的粉丝</title>
        </head>
        <body>

        <p style="margin: 0 auto;font-size: 50px;text-align:center;margin-top: 10px">我的猫猫🐈️</p>
        <p style="margin: 0 auto;font-size: 50px;text-align:center;margin-bottom: 40px;margin-top: 0px"></p>
        <div> &nbsp&nbsp</div>
        <div> &nbsp&nbsp</div>
        <div style="position: fixed; top:70%;left:85%">
            <form method="get" enctype="multipart/form-data" action="/add_pet/">
                {% csrf_token %}
                <input type="submit" value="➕️"
                       style="font-size: 100px ;border: 10px ;background: none;outline:gainsboro;transform: rotateY(180deg); "
                       class="ok">
            </form>
        </div>
        {% for pet in pets %}
            <div style="margin: 0 auto;margin-top: -20px;margin-bottom: 100px;
         border: solid 1px;border-color: #dbdbdb;height:230px;width:800px;box-shadow: 5px 5px 10px #999999;border-radius:10px">
            <div style="position: relative;top: -60px;left: -70px;">
                <form method="get" enctype="multipart/form-data" action="">
                    {#                     点击头像查看用户页面#}
                    {% csrf_token %}
                    {#                        遮罩#}

                    <div style="width: 200px;height: 200px; border-radius:250px;overflow: hidden;box-shadow: 5px 5px 10px #999999">
                        <input type="image" src=" {{ MEDIA_URL }}{{ pet.pet_imag }}" height="200px" width="200px"
                               value="🐱">
                    </div>
                </form>
            </div>
            <div style="position:relative;left: 20%;top: -160px">
                <p style="font-size: 80px;display: inline">{{ pet.pet_name }}</p>
                <p style="font-size: 90px;color: #5e5e5e;display: inline">&nbsp&nbsp{{ pet.pet_age }}</p>
                <p style="font-size: 80px;color: #5e5e5e;display: inline">岁</p>
                {% if pet.pet_sex == '男孩' %}
                    <p style="font-size: 60px;display: inline"> &nbsp;&nbsp;🚹</p>
                {% else %}
                    <p style="font-size: 60px;display: inline">&nbsp;&nbsp;🚺</p>
                {% endif %}

                             <a href="{% url "delete_pet" pet.pet_id%}">
                                 <div style="font-size: 30px;position: relative;left: 73%">🗑️</div>
                                 </a>
{#                <a href="#" onclick="confirm_delete()">#}
{#                    <div style="font-size: 30px;position: relative;left: 73%">🗑️</div>#}
{#                </a>#}

            </div>
{#            <div style="position:relative;left: 19%;top: -100px">#}
{#                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp#}
{#                {% comment %}{% endcomment %}#}
{#            </div>#}

            <script>
                // 删除函数
                function confirm_delete() {
                    // 调用layer弹窗组件
                    layer.open({
                        // 弹窗标题
                        title: "确认删除",
                        // 正文
                        content: "确认删除{{ pet.pet_name }}该猫猫吗？",
                        // 点击确定按钮后调用的回调函数
                        yes: function (index, layero) {
                            // 指定应当前往的 url
                            location.href = '{% url "delete_pet" pet.pet_id%}'
                        },
                    })
                }
            </script>
        {% endfor %}
        </div>

        </body>


    {% else %}
        <h1>没有登录用户</h1>
    {% endif %}

{% endblock %}


</html>
</html>