{% extends 'login/base.html' %}
{% block title %}个人主页{% endblock %}
{% block content %}
    {% if request.session.is_login %}
    <h2>你好，{{ request.session.user_name }}   !   欢迎回来！👏 </h2>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人主页</title>
</head>
<body>

<tr>

<div style="width: 120px;height: 120px; border-radius:250px;overflow: hidden;">
    <img src="{{ MEDIA_URL }}{{ data.user_imag}}" height="120px" width="120px">
</div>
        <div>昵称：{{ data.name }}  性别：{{ data.sex }}</div> <br/>
            <div>邮箱：{{ data.email }}</div> <br/>
            <div>个人简介：{{ data.profile }}</div> <br/>
            <div>总点赞数❤️ pass </div><br/>
                        <div>粉丝 pass </div><br/>
                        <div>关注 pass </div><br/>

    <div>我的猫猫：</div> <br/>
        <table border="1">
            {% for pets in pets%}
             <th>
                <div>{{ pets.pet_name }} {{ pets.pet_sex }} {{ pets.pet_age }}岁 </div> <br/>

                 <div> <img src="{{ MEDIA_URL }}{{ pets.pet_imag}}" height="120px" width="120px"></div>

             </th>


            {% endfor %}
         <th> <a href="/add_pet">添加名下猫猫</a></th>
        </table><br/><br/>

    <div>我的动态：</div> <br/>
        <table border="1">
            {% for dynamic in dynamic%}
             <th>
                <div>{{ dynamic.dyn_title }}  </div>
                 <div>{{ dynamic.dyn_text  }}  </div>
                 <div>{{ dynamic.dyn_time  }}  </div>
                 <div> <img src="{{ MEDIA_URL }}{{ dynamic.dyn_imag }}" height="120px" width="120px"></div>

             </th>


            {% endfor %}
         <th> <a href="/dynamic">查看更多</a></th>
        </table>


    </tr>
</body>
        <a href="/user_setting">编辑资料</a>
        <a href="/pwd_change">修改密码</a>


    {% else %}
    <h1>没有登录用户</h1>
    {% endif %}
{% endblock %}
</html>
</html>