{% extends 'login/base.html' %}
{% block title %}其他用户主页{% endblock %}
{% block content %}
    {% if request.session.is_login %}
    <h2>你好，{{ request.session.user_name }}   !   欢迎回来！👏 </h2>
<html lang="en">
<body>

<tr>
<h1>这是用户{{ data.name }}的个人界面</h1>
<div style="width: 120px;height: 120px; border-radius:250px;overflow: hidden;">
    <img src="{{ MEDIA_URL }}{{ data.user_imag}}" height="120px" width="120px">
</div>
        <div>昵称：{{ data.name }}  性别：{{ data.sex }}</div> <br/>
            <div>邮箱：{{ data.email }}</div> <br/>
            <div>个人简介：{{ data.profile }}</div> <br/>
            <div>总点赞数❤️ pass </div><br/>
                        <div>粉丝 pass </div><br/>
                        <div>关注 pass </div><br/>

    <div>他的猫猫：</div> <br/>
        <table border="1">
            {% for pets in pets%}
             <th>
                <div>{{ pets.pet_name }} {{ pets.pet_sex }} {{ pets.pet_age }}岁 </div> <br/>

                 <div> <img src="{{ MEDIA_URL }}{{ pets.pet_imag}}" height="120px" width="120px"></div>

             </th>


            {% endfor %}
        </table><br/><br/>

    <div>他的动态：</div> <br/>
        <table border="1">
            {% for dynamic in dynamic%}
             <th>
                <div>{{ dynamic.dyn_title }}  </div>
                 <div>{{ dynamic.dyn_text  }}  </div>
                 <div>{{ dynamic.dyn_time  }}  </div>
                 <div> <img src="{{ MEDIA_URL }}{{ dynamic.dyn_imag }}" height="120px" width="120px" ></div>

             </th>
            {% endfor %}

        </table>


    </tr>
</body>


    {% else %}
    <h1>没有登录用户</h1>
    {% endif %}
{% endblock %}
</html>
</html>