{% extends 'login/unlogin_base.html' %}
{% block title %}主页{% endblock %}
{% block content %}
    {% if request.session.is_login %}
    <h2>你好，{{ request.session.user_name }}!欢迎回来！👏 </h2>
    {% else %}

    <div style="position:fixed;left:42%;top:13%;">
     <p style="font-size:150px">🐈</p>
    </div>
        <div style="position:absolute;left:10%;top:50%;">
     <p style="font-size:80px">欢迎来到67猫猫之家🎉</p>
    </div>
        <div style="position:absolute;left:30%;top:70%;">
     <p style="font-size:60px">一个纯粹的铲屎官分享交流社区🏠</p>
    </div>


{#        <h1>欢迎来到67猫猫之家，一个纯粹的铲屎官分享交流社区🎉</h1>#}




    {% endif %}
{% endblock %}