{% extends 'login/base.html' %}
{% block title %}动态{% endblock %}

{% block content %}
    {% if request.session.is_login %}
        <div style="position: fixed; top:90%;left:90%">
            <form method="get" enctype="multipart/form-data" action="/show_upload_dynamic/">
                {% csrf_token %}
                <input type="submit" value="发布动态" style="font-size: 30px">
            </form>
        </div>
        <div style="font-size: 28px;margin-left: 10px;margin-bottom: 20px">你好，{{ request.session.user_name }} !
            欢迎回来！👏
        </div>

        <div style="display: flex; flex-wrap: wrap;">
            {% for data in data reversed %}
                <div style="margin-left: 15px;margin-bottom:30px;display: flex;flex-direction: column; width:250px">
                    <div style="display: flex; flex-wrap: wrap;align-items: center;justify-content: space-between;margin-bottom: 4px">
                        <div style="display: flex;align-items: center;">
                            <img src="{{ MEDIA_URL }}{{ data.user.user_imag }}" height="30px" width="30px"
                                 style="border-radius: 50%;">
                            <div style="margin-left: 4px">{{ data.user }}</div>
                        </div>
                        <button style="margin: 0;padding-left: 4px;padding-right: 4px; border:0;outline: none;background-color:orange;color: white">
                            关注
                        </button>
                    </div>
                    <div style="margin-bottom: 4px">
                        <img src="{{ MEDIA_URL }}{{ data.dyn_imag }}" height="250px" width="250px">
                    </div>
                    <div>
                        <div style="display:flex;justify-content: space-between">
                            <div style="word-break: break-all;word-wrap: break-word;font-size: 16px;font-weight: bold">{{ data.dyn_title }}</div>
                            {% if data.dyn_like > 0 %}
                                <div style="font-size: 20px;"><img
                                        src="../static/media/others_img/lv1.png">️
                                    <span style="font-size: 16px;color:darkgray;">{{ data.dyn_like }}</span></div>
                            {% else %}
                                <div style="font-size: 20px;">️<img src="../static/media/others_img/lv3.png">
                                    <span style="font-size: 16px;color:darkgray;">{{ data.dyn_like }}</span>
                                </div>
                            {% endif %}
                        </div>
                        <div style="word-break: break-all;word-wrap: break-word;font-size: 14px;">{{ data.dyn_text }}</div>
                        <div style="font-size: 12px;color: #9d9d9d">{{ data.dyn_time }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {#        <div style="position: fixed;">#}
        <form method="get" enctype="multipart/form-data" action="/show_upload_dynamic/">
            {% csrf_token %}
            <input type="submit" value="发布动态">
        </form>
        {#        </div>#}



    {% else %}
        <h1>没有登录用户</h1>


    {% endif %}

    {#    <a href="/show_upload_dynamic/">发布动态</a> #。。。。这个简单多了#}


    {#    <form action="/upload_dynamic_handle/" method="post">#}
    {#    <input type="bottom" value="按钮">#}
    {#    </from>#}
    {##}


{% endblock %}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>动态</title>#}
{#</head>#}
{#<body>#}
{#<form method="post" enctype="multipart/form-data">#}
{#    {% csrf_token %}#}
{#    <input type="file" name="pic"><br/>#}
{#    <input type="submit" value="上传">#}
{#</form>#}
{#</body>#}
{#</html>#}