{% extends 'login/base.html' %}
{% block title %}动态{% endblock %}
{% block content %}
    {% if request.session.is_login %}
    <h2>你好，{{ request.session.user_name }}   !   欢迎回来！👏 </h2>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传动态</title>
</head>
<body>
<form method="post" enctype="multipart/form-data" action="/upload_dynamic_handle/">
    {% csrf_token %}
    标题：<input type="text " name="title"><br/>
    正文：<input type="text " name="text"><br/>
    照片 <input type="file" name="pic"> <br/>
    <input type="submit" value="上传">
</form>
</body>
    {% else %}
    <h1>没有登录用户</h1>
    {% endif %}
{% endblock %}
</html>